configuration{
    modi: "combi,windowcd";
    combi-modi: "window,drun";
    font: "Iosevka 20";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    matching: "fuzzy";
}

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
